body{
   
    
    font-size: 2em;
    text-align: center;
}

html{
    text-align: center;
}

p{
    max-width: 400px;
    margin: auto;
}

#BigYellowCircle{
    background-image: url(https://www.kirupa.com/images/yellow_circle.svg);
    background-size: 45%;
    background-position: 80% 15%;

    width: 120%;
    height: 300%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    margin: auto;
    z-index: -10;
    
}

#GreenPentagon{
    background-image: url(https://www.kirupa.com/images/green_pentagon.svg);
    background-size: 30%;
    background-position: 20% 5%;

    width: 120%;
    height: 300%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    margin: auto;
    z-index: -20;
    
}

#BlueSquare{
    background-image: url(https://www.kirupa.com/images/blue_square.svg);
    background-size: 15%;
    background-position: center 10%;

    width: 120%;
    height: 300%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    margin: auto;
    z-index: -30;
    
}

div{
    overflow: hidden;
    background-repeat: no-repeat;
}